<a href="https://colab.research.google.com/github/RaivoKasepuu/BDA_Tartu_MTAT_03_319/blob/master/BDA2021Fall_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<div class="alert alert-block alert-info"><b></b>
<h1><center> <font color='black'> Homework 01  </font></center></h1>
<h2><center> <font color='black'> Data Exploration</font></center></h2>   
<h2><center> <font color='black'> MTAT.03.319 - Business Data Analytics</font></center></h2>
<h2><center> <font color='black'> University of Tartu - Fall 2021</font></center></h2>
</div>

# Homework instructions

- Please provide the names and student IDs of the team-members (Maximum 2 person) in the field "Team mates" below. If you are not working in a team please insert only your name and student ID. 

- The accepted submission formats are Colab links or .ipynb files. If you are submitting Colab links please make sure that the privacy settings for the file is public so we can access your code. 

- The submission will automatically close on <font color='red'>**22 September at 23:59**</font>, so please make sure to submit before the deadline. 

- ONLY one of the teammates should submit the homework. We will grade the homework and the marks and feedback is applied for both the team members. So please communicate with your team member about marks and feedback if you are submit the homework.

- If a question is not clear, please ask us in Moodle ONLY. 

- After you have finished solving the Homework, please restart the Kernel and run all the cells to check if there is any persisting issues. 

- Plagiarism is <font color='red'>**PROHIBITED**</font>. Any form of plagiarism will be dealt according to the university policy (https://www.ut.ee/en/current-students/academic-fraud).

- Please <font color='red'>do not change</font> the template of this notebook file. You can download the .ipynb file and work on that.

**<h2><font color='red'>Team mates:</font></h2>**


<font color='red'>Name: </font>&emsp;   <font color='red'>Student ID: </font>


<font color='red'>Name: </font>&emsp;   <font color='red'>Student ID: </font>

## Exercise

We will start by loading the dataset. You can either upload it manually to your google colab or load from the link as it is done below:

In [ ]:
import pandas as pd

df = pd.read_csv("https://courses.cs.ut.ee/MTAT.03.319/2017_fall/uploads/Main/intro_dataset", sep=",")

## Dataset description

The dataset contains the sales figures (*p1sales* and *p2sales*) of products (*p1* and *p2*) from various stores (*storeNum*) situated across different countries (*country*) over different weeks (*Week*) and years (*Year*). In addition, we also know if these sales numbers and the product prices (*p1price* and *p2price*) were during a promotional campaign (*p1prom* and *p2prom*: 0 means no promotional campaign and 1 means during a promotional campaign).

In [ ]:
df

      storeNum  Year  Week  p1sales  ...  p2price  p1prom  p2prom  country
0          101     1     1      127  ...     2.29       0       0       US
1          101     1     2      137  ...     2.49       0       0       US
2          101     1     3      156  ...     2.99       1       0       US
3          101     1     4      117  ...     3.19       0       0       US
4          101     1     5      138  ...     2.59       0       1       US
...        ...   ...   ...      ...  ...      ...     ...     ...      ...
2075       120     2    48      150  ...     2.99       0       0       CN
2076       120     2    49      121  ...     2.59       0       0       CN
2077       120     2    50       91  ...     2.29       0       0       CN
2078       120     2    51       83  ...     2.29       0       0       CN
2079       120     2    52      136  ...     2.49       0       0       CN

[2080 rows x 10 columns]

## Question 1 (0.5p)

What are the column names of the dataset?

## Question 2 (0.5p)

How many observations (i.e. rows) are in this data frame?

## Question 3 (1p)

Print the first 3 lines from the dataset. Which countries are printed?

## Question 4 (1p)

Extract the last 3 rows of the data frame. What is the p1price of all these results?

## Question 5 (1p)

Which country is in the row 20?

## Question 6 (1p)

What is the mean of the p1price column?

## Question 7 (1p)

Extract the subset of rows of the data frame where storeNum is 101 and p1sales values are below 110. What is the mean of p1price in this subset?

## Question 8 (1p)

What is the minimum p2price for the week number 12 of the first year?

## Question 9 (1p)

How many unique stores are in the dataset (represented by storeNum)

## Question 10 (2p)

What store has the largest profit value. Use the p1sales and p1price columns to calculate the profit.