
<div class="alert alert-block alert-info"><b></b>
<h1><center> <font color='black'> Homework 01  </font></center></h1>
<h2><center> <font color='black'> Data Exploration</font></center></h2>   
<h2><center> <font color='black'> MTAT.03.319 - Business Data Analytics</font></center></h2>
<h2><center> <font color='black'> University of Tartu - Fall 2021</font></center></h2>
</div>

# Homework instructions

- Please provide the names and student IDs of the team-members (Maximum 2 person) in the field "Team mates" below. If you are not working in a team please insert only your name and student ID. 

- The accepted submission formats are Colab links or .ipynb files. If you are submitting Colab links please make sure that the privacy settings for the file is public so we can access your code. 

- The submission will automatically close on <font color='red'>**22 September at 23:59**</font>, so please make sure to submit before the deadline. 

- ONLY one of the teammates should submit the homework. We will grade the homework and the marks and feedback is applied for both the team members. So please communicate with your team member about marks and feedback if you are submit the homework.

- If a question is not clear, please ask us in Moodle ONLY. 

- After you have finished solving the Homework, please restart the Kernel and run all the cells to check if there is any persisting issues. 

- Plagiarism is <font color='red'>**PROHIBITED**</font>. Any form of plagiarism will be dealt according to the university policy (https://www.ut.ee/en/current-students/academic-fraud).

- Please <font color='red'>do not change</font> the template of this notebook file. You can download the .ipynb file and work on that.

**<h2><font color='red'>Team mates:</font></h2>**

<font color='red'>Name: Raivo Kasepuu</font>&emsp;   <font color='red'>Student ID: B710710</font>


<font color='red'>Name: </font>&emsp;   <font color='red'>Student ID: </font>

## Exercise

We will start by loading the dataset. You can either upload it manually to your google colab or load from the link as it is done below:

In [2]:
import pandas as pd

df = pd.read_csv("https://courses.cs.ut.ee/MTAT.03.319/2017_fall/uploads/Main/intro_dataset", sep=",")

## Dataset description

The dataset contains the sales figures (*p1sales* and *p2sales*) of products (*p1* and *p2*) from various stores (*storeNum*) situated across different countries (*country*) over different weeks (*Week*) and years (*Year*). In addition, we also know if these sales numbers and the product prices (*p1price* and *p2price*) were during a promotional campaign (*p1prom* and *p2prom*: 0 means no promotional campaign and 1 means during a promotional campaign).

In [3]:
df

      storeNum  Year  Week  p1sales  ...  p2price  p1prom  p2prom  country
0          101     1     1      127  ...     2.29       0       0       US
1          101     1     2      137  ...     2.49       0       0       US
2          101     1     3      156  ...     2.99       1       0       US
3          101     1     4      117  ...     3.19       0       0       US
4          101     1     5      138  ...     2.59       0       1       US
...        ...   ...   ...      ...  ...      ...     ...     ...      ...
2075       120     2    48      150  ...     2.99       0       0       CN
2076       120     2    49      121  ...     2.59       0       0       CN
2077       120     2    50       91  ...     2.29       0       0       CN
2078       120     2    51       83  ...     2.29       0       0       CN
2079       120     2    52      136  ...     2.49       0       0       CN

[2080 rows x 10 columns]

## Question 1 (0.5p)

What are the column names of the dataset?

In [4]:
print("Q1 answer. Column names in dataset are:")
for columns in df.columns:
  print(columns)

Q1 answer. Column names in dataset are:
storeNum
Year
Week
p1sales
p2sales
p1price
p2price
p1prom
p2prom
country

## Question 2 (0.5p)

How many observations (i.e. rows) are in this data frame?

In [5]:
print("Q2 answer. Dataframe has " + str(df.shape[0]) + " rows" )

Q2 answer. Dataframe has 2080 rows

## Question 3 (1p)

Print the first 3 lines from the dataset. Which countries are printed?

In [6]:
print("Q3 answer. First 3 lines from dataset are: " + str(df.head(3)))
print()
print("Countries in first 3 lines are: ")
print(df.head(3)['country'])

Q3 answer. First 3 lines from dataset are:    storeNum  Year  Week  p1sales  ...  p2price  p1prom  p2prom  country
0       101     1     1      127  ...     2.29       0       0       US
1       101     1     2      137  ...     2.49       0       0       US
2       101     1     3      156  ...     2.99       1       0       US

[3 rows x 10 columns]

Countries in first 3 lines are:
0    US
1    US
2    US
Name: country, dtype: object

## Question 4 (1p)

Extract the last 3 rows of the data frame. What is the p1price of all these results?

In [7]:
print("Q4 answer. Last 3 rows of the data frame are:")
last_3= df.tail(3)
print(last_3)
print()
p1price = last_3['p1price']
print("p1price in last 3 lines are:")
print(p1price)

Q4 answer. Last 3 rows of the data frame are:
      storeNum  Year  Week  p1sales  ...  p2price  p1prom  p2prom  country
2077       120     2    50       91  ...     2.29       0       0       CN
2078       120     2    51       83  ...     2.29       0       0       CN
2079       120     2    52      136  ...     2.49       0       0       CN

[3 rows x 10 columns]

p1price in last 3 lines are:
2077    2.99
2078    2.99
2079    2.49
Name: p1price, dtype: float64

## Question 5 (1p)

Which country is in the row 20?

In [8]:
print("It depends, what do you mean under row20:")
print("Q5 answer 1. Country in the 20th row is: " + str(df.iloc[20 - 1]['country']))
print("Q5 answer 2. Country in the row with id=20 is: " + str(df.iloc[20]['country']))

It depends, what do you mean under row20:
Q5 answer 1. Country in the 20th row is: US
Q5 answer 2. Country in the row with id=20 is: US

## Question 6 (1p)

What is the mean of the p1price column?

In [9]:
print("Q6 answer. p1price column mean value is: " + str(df['p1price'].mean()))

Q6 answer. p1price column mean value is: 2.544374999999926

## Question 7 (1p)

Extract the subset of rows of the data frame where storeNum is 101 and p1sales values are below 110. What is the mean of p1price in this subset?

In [10]:

print("Q7 answer. The subset:")
Q7_subset = df[(df['storeNum'] == 101) & (df['p1sales'] < 110)]
print(Q7_subset)
print()
print("Q7 subset p1price mean value is: " + str(Q7_subset['p1price'].mean()))

Q7 answer. The subset:
     storeNum  Year  Week  p1sales  ...  p2price  p1prom  p2prom  country
7         101     1     8      106  ...     2.29       0       0       US
12        101     1    13      107  ...     2.59       0       0       US
14        101     1    15      103  ...     2.59       0       0       US
15        101     1    16      101  ...     2.29       0       0       US
16        101     1    17       97  ...     2.59       0       1       US
18        101     1    19      104  ...     2.59       0       0       US
20        101     1    21      100  ...     2.49       0       0       US
22        101     1    23      103  ...     2.49       0       0       US
25        101     1    26       93  ...     2.59       0       0       US
40        101     1    41       95  ...     2.29       0       0       US
43        101     1    44       89  ...     2.29       0       0       US
58        101     2     7       99  ...     2.99       0       0       US
64        101     2    13      104  ...     2.59       0       0       US
78        101     2    27       78  ...     2.29       0       0       US
79        101     2    28      102  ...     2.99       0       0       US
83        101     2    32      108  ...     2.29       0       1       US
84        101     2    33       99  ...     2.49       0       0       US
88        101     2    37      107  ...     2.99       0       0       US
94        101     2    43      100  ...     2.49       0       1       US
100       101     2    49      103  ...     2.29       0       0       US

[20 rows x 10 columns]

Q7 subset p1price mean value is: 2.830000000000001

## Question 8 (1p)

What is the minimum p2price for the week number 12 of the first year?

In [11]:
print("Q8 answer. Minimum p2price for the week number 12 of the first year is: " + str(df[(df['Week'] == 12) & (df['Year'] == 1)].min()['p2price']))

Q8 answer. Minimum p2price for the week number 12 of the first year is: 2.29

## Question 9 (1p)

How many unique stores are in the dataset (represented by storeNum)

In [12]:
print("Q9 answer. Number of uniques stores in the dataset is: " + str(df['storeNum'].nunique()))

Q9 answer. Number of uniques stores in the dataset is: 20

## Question 10 (2p)

What store has the largest profit value. Use the p1sales and p1price columns to calculate the profit.

In [13]:
print("Q10 answer. As much as I know, profit = turnover - costs.")
print("There is no data about costs in this dataframe, I cannot calculate profit.")
print()
print("But I can find largest turnover based on p1sales and p1price:")
print("StoreNum with largest p1 turnover: " + str(df.assign(sum=df['p1sales'] * df['p1price']).groupby(['storeNum']).sum().sort_values('sum', ascending=False).head(1).index.tolist()[0]))

Q10 answer. As much as I know, profit = turnover - costs.
There is no data about costs in this dataframe, I cannot calculate profit.

But I can find largest turnover based on p1sales and p1price:
StoreNum with largest p1 turnover: 118