<a href="https://colab.research.google.com/github/RaivoKasepuu/BDA_Tartu_MTAT_03_319/blob/master/BDA2021Fall_HW5_Raivo_Kasepuu_Maarja_Parve.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div class="alert alert-block alert-info"><b></b>
<h1><center> <font color='black'> Homework 05  </font></center></h1>
<h2><center> <font color='black'> Customer lifecycle management: Attrition Prediction - Classification </font></center></h2>   
<h2><center> <font color='black'> MTAT.03.319 - Business Data Analytics</font></center></h2>
<h2><center> <font color='black'> University of Tartu - Fall 2021</font></center></h2>
</div>

# Homework instructions
- Please name your homeworks in the following format **BDAFall2021_HWX_Name_Surname.ipynb** then it will be easier to grade your homeworks and smaller possibility for a human mistake.
- Please provide the names and student IDs of the team-members (Maximum 2 person) in the field "Team mates" below. If you are not working in a team please insert only your name and student ID. 

- The accepted submission formats are Colab links or .ipynb files. If you are submitting Colab links please make sure that the privacy settings for the file is public so we can access your code. 

- The submission will automatically close on <font color='red'>**17 November at 23:59**</font>, so please make sure to submit before the deadline. 

- ONLY one of the teammates should submit the homework. We will grade the homework and the marks and feedback is applied for both the team members. So please communicate with your team member about marks and feedback if you are submit the homework.

- If a question is not clear, please ask us in Moodle ONLY. 

- For coding related questions, do submit your code as well as your explanation/answer.

- After you have finished solving the Homework, please restart the Kernel and run all the cells to check if there is any persisting issues. 

- Plagiarism is <font color='red'>**PROHIBITED**</font>. Any form of plagiarism will be dealt according to the university policy (https://www.ut.ee/en/current-students/academic-fraud).

- Please <font color='red'>do not change</font> the template of this notebook file. You can download the .ipynb file and work on that.

**<h2><font color='red'>Team mates:</font></h2>**


<font color='red'>Name: Raivo Kasepuu </font>&emsp;   <font color='red'>Student ID: B710710</font>


<font color='red'>Name: Maarja Parve</font>&emsp;   <font color='red'>Student ID: B99902</font>

## Question 1 (5 points)

You are going to predict whether an employee is about to leave the company using HR_Employee_Attrition.csv dataset. We are predicting  Attrition.

HR_Employee_Attrition.csv data contains the information about employees in a company.
1. **Age** – self descriptive
2. **BusinessTravel** – how frequent employee travels
3. **DailyRate** – self descriptive
4. **Department** – self descriptive
5. **DistanceFromHome** – distance between employee home and work
6. **Education** – education level of employee
7. **EducationField** – self descriptive
8. **EnvironmentSatisfaction** – level of satisfaction with working environment
9. **Gender** – self descriptive
10. **HourlyRate** – self descriptive
11. **JobRole** – self descriptive
12. **JobInvolvement** – level of interest of the job
13. **JobSatisfaction** – level of satisfaction with current job
14. **MaritalStatus** – self descriptive
15. **MonthlyIncome** – self descriptive
16. **MonthlyRate** – self descriptive
17. **NumCompaniesWorked** – self descriptive
18. **Over18** – whether customer age is more than 18
19. **OverTime** – whether customer works overtime or not
20. **PerformanceRating** – performance level of employee
21. **RelationshipSatisfaction** – level of satisfaction with working community
22. **StandardHours** – standard amount of hours that employee works
23. **TotalWorkingYears** – whether customer age is more than 18
24. **TrainingTimesLastYear**– whether customer age is more than 
25. **18WorkLifeBalance** – level of satisfaction with employee’s work time and free time proportions
26. **YearsAtCompany** – self descriptive
27. **YearsInCurrentRole** – self descriptive
28. **YearsSinceLastPromotion** – self descriptive
29. **YearsWithCurrManager** – self descriptive
30. **Attrition** – predicting variable which signify whether customer has left (Yes) the company or not (No).

###Question 1.1 (1 point):
Prepare the dataset 

    * Check if there is any missing and NULL values. 
    * Check the Over18 column. What do you think we should do with this column?
    * Convert Attrition column to numeric (similar to what we did in HW3 Q2.1)
    * Convert BusinessTravel, Department, EducationField, Gender, JobRole, MaritalStatus, OverTime columns into dummy variables (also called One-Hot-Encoding method). You can find an example in the lab session, the function we used is pd.get_dummies().
    * Scale all the columns to a range from 0 to 1 (use MinMaxScaler)

In [ ]:
print("Hello! Welcome to our HW5")
print("Maarja and Raivo are ready for the 5th challenge!")
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.ticker as mtick
import matplotlib.pyplot as plt

#print("Let's make the notebook reproducible:")
#np.random.seed(42)

Hello! Welcome to our HW5
Maarja and Raivo are ready for the 5th challenge!

In [ ]:
print("Lets check out, what dataset file we got this time")
df = pd.read_csv('HR_Employee_Attrition.csv')
df.columns.values

Lets check out, what dataset file we got this time

array(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18',
       'OverTime', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'], dtype=object)

In [ ]:
print("Let's check if there are any NULL values")
df.info()

Let's check if there are any NULL values
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EnvironmentSatisfaction   1470 non-null   int64
 9   Gender                    1470 non-null   object
 10  HourlyRate                1470 non-null   int64
 11  JobInvolvement            1470 non-null   int64
 12  JobRole                   1470 non-null   object
 13  JobSatisfaction           1470 non-null   int64
 14  MaritalStatus             1470 non-null   object
 15  MonthlyIncome             1470 non-null   int64
 16  MonthlyRate               1470 non-null   int64
 17  NumCompaniesWorked        1470 non-null   int64
 18  Over18                    1470 non-null   object
 19  OverTime                  1470 non-null   object
 20  PerformanceRating         1470 non-null   int64
 21  RelationshipSatisfaction  1470 non-null   int64
 22  StandardHours             1470 non-null   int64
 23  TotalWorkingYears         1470 non-null   int64
 24  TrainingTimesLastYear     1470 non-null   int64
 25  WorkLifeBalance           1470 non-null   int64
 26  YearsAtCompany            1470 non-null   int64
 27  YearsInCurrentRole        1470 non-null   int64
 28  YearsSinceLastPromotion   1470 non-null   int64
 29  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(21), object(9)
memory usage: 344.7+ KB

In [ ]:
print("Let's check if there is any values missing")
df.isnull().sum()

print()

print("There is no non-null or missing values")
#df.dropna(inplace=True)

Let's check if there is any values missing

There is no non-null or missing values

In [ ]:
print("Let's check the Over18 column")
print("Over18 column has only one unique value so it adds no information and we could drop the column")
df.describe(include='all')

Let's check the Over18 column
Over18 column has only one unique value so it adds no information and we could drop the column

                Age Attrition  ... YearsSinceLastPromotion  YearsWithCurrManager
count   1470.000000      1470  ...             1470.000000           1470.000000
unique          NaN         2  ...                     NaN                   NaN
top             NaN        No  ...                     NaN                   NaN
freq            NaN      1233  ...                     NaN                   NaN
mean      36.923810       NaN  ...                2.187755              4.123129
std        9.135373       NaN  ...                3.222430              3.568136
min       18.000000       NaN  ...                0.000000              0.000000
25%       30.000000       NaN  ...                0.000000              2.000000
50%       36.000000       NaN  ...                1.000000              3.000000
75%       43.000000       NaN  ...                3.000000              7.000000
max       60.000000       NaN  ...               15.000000             17.000000

[11 rows x 30 columns]

In [ ]:
print("Deleting the Over18 column:")
df=df.drop(columns=['Over18'])

print()

print("We now have one column less")
df.info()

Deleting the Over18 column:

We now have one column less
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EnvironmentSatisfaction   1470 non-null   int64
 9   Gender                    1470 non-null   object
 10  HourlyRate                1470 non-null   int64
 11  JobInvolvement            1470 non-null   int64
 12  JobRole                   1470 non-null   object
 13  JobSatisfaction           1470 non-null   int64
 14  MaritalStatus             1470 non-null   object
 15  MonthlyIncome             1470 non-null   int64
 16  MonthlyRate               1470 non-null   int64
 17  NumCompaniesWorked        1470 non-null   int64
 18  OverTime                  1470 non-null   object
 19  PerformanceRating         1470 non-null   int64
 20  RelationshipSatisfaction  1470 non-null   int64
 21  StandardHours             1470 non-null   int64
 22  TotalWorkingYears         1470 non-null   int64
 23  TrainingTimesLastYear     1470 non-null   int64
 24  WorkLifeBalance           1470 non-null   int64
 25  YearsAtCompany            1470 non-null   int64
 26  YearsInCurrentRole        1470 non-null   int64
 27  YearsSinceLastPromotion   1470 non-null   int64
 28  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(21), object(8)
memory usage: 333.2+ KB

In [ ]:
print("Converting Attrition column to numeric")
print("function for changing values:")

df['Attrition'].replace(to_replace="Yes", value=1, inplace=True)
df['Attrition'].replace(to_replace="No", value=0, inplace=True)
print()

df.head()
df.info()

Converting Attrition column to numeric
function for changing values:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   int64
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EnvironmentSatisfaction   1470 non-null   int64
 9   Gender                    1470 non-null   object
 10  HourlyRate                1470 non-null   int64
 11  JobInvolvement            1470 non-null   int64
 12  JobRole                   1470 non-null   object
 13  JobSatisfaction           1470 non-null   int64
 14  MaritalStatus             1470 non-null   object
 15  MonthlyIncome             1470 non-null   int64
 16  MonthlyRate               1470 non-null   int64
 17  NumCompaniesWorked        1470 non-null   int64
 18  OverTime                  1470 non-null   object
 19  PerformanceRating         1470 non-null   int64
 20  RelationshipSatisfaction  1470 non-null   int64
 21  StandardHours             1470 non-null   int64
 22  TotalWorkingYears         1470 non-null   int64
 23  TrainingTimesLastYear     1470 non-null   int64
 24  WorkLifeBalance           1470 non-null   int64
 25  YearsAtCompany            1470 non-null   int64
 26  YearsInCurrentRole        1470 non-null   int64
 27  YearsSinceLastPromotion   1470 non-null   int64
 28  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(22), object(7)
memory usage: 333.2+ KB

In [ ]:
print("Converting BusinessTravel, Department, EducationField, Gender, JobRole, MaritalStatus, OverTime columns into dummy variables")
print("Using the dummy function:")
df_dummies = pd.get_dummies(df, columns=['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'OverTime'])

df_dummies.info()

Converting BusinessTravel, Department, EducationField, Gender, JobRole, MaritalStatus, OverTime columns into dummy variables
Using the dummy function:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 50 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                1470 non-null   int64
 1   Attrition                          1470 non-null   int64
 2   DailyRate                          1470 non-null   int64
 3   DistanceFromHome                   1470 non-null   int64
 4   Education                          1470 non-null   int64
 5   EnvironmentSatisfaction            1470 non-null   int64
 6   HourlyRate                         1470 non-null   int64
 7   JobInvolvement                     1470 non-null   int64
 8   JobSatisfaction                    1470 non-null   int64
 9   MonthlyIncome                      1470 non-null   int64
 10  MonthlyRate                        1470 non-null   int64
 11  NumCompaniesWorked                 1470 non-null   int64
 12  PerformanceRating                  1470 non-null   int64
 13  RelationshipSatisfaction           1470 non-null   int64
 14  StandardHours                      1470 non-null   int64
 15  TotalWorkingYears                  1470 non-null   int64
 16  TrainingTimesLastYear              1470 non-null   int64
 17  WorkLifeBalance                    1470 non-null   int64
 18  YearsAtCompany                     1470 non-null   int64
 19  YearsInCurrentRole                 1470 non-null   int64
 20  YearsSinceLastPromotion            1470 non-null   int64
 21  YearsWithCurrManager               1470 non-null   int64
 22  BusinessTravel_Non-Travel          1470 non-null   uint8
 23  BusinessTravel_Travel_Frequently   1470 non-null   uint8
 24  BusinessTravel_Travel_Rarely       1470 non-null   uint8
 25  Department_Human Resources         1470 non-null   uint8
 26  Department_Research & Development  1470 non-null   uint8
 27  Department_Sales                   1470 non-null   uint8
 28  EducationField_Human Resources     1470 non-null   uint8
 29  EducationField_Life Sciences       1470 non-null   uint8
 30  EducationField_Marketing           1470 non-null   uint8
 31  EducationField_Medical             1470 non-null   uint8
 32  EducationField_Other               1470 non-null   uint8
 33  EducationField_Technical Degree    1470 non-null   uint8
 34  Gender_Female                      1470 non-null   uint8
 35  Gender_Male                        1470 non-null   uint8
 36  JobRole_Healthcare Representative  1470 non-null   uint8
 37  JobRole_Human Resources            1470 non-null   uint8
 38  JobRole_Laboratory Technician      1470 non-null   uint8
 39  JobRole_Manager                    1470 non-null   uint8
 40  JobRole_Manufacturing Director     1470 non-null   uint8
 41  JobRole_Research Director          1470 non-null   uint8
 42  JobRole_Research Scientist         1470 non-null   uint8
 43  JobRole_Sales Executive            1470 non-null   uint8
 44  JobRole_Sales Representative       1470 non-null   uint8
 45  MaritalStatus_Divorced             1470 non-null   uint8
 46  MaritalStatus_Married              1470 non-null   uint8
 47  MaritalStatus_Single               1470 non-null   uint8
 48  OverTime_No                        1470 non-null   uint8
 49  OverTime_Yes                       1470 non-null   uint8
dtypes: int64(22), uint8(28)
memory usage: 293.0 KB

In [ ]:
print("Let's scale all the columns to a range from 0 to 1")
#MinMaxScaler
from sklearn.preprocessing import MinMaxScaler
 
#standardization of dependent variables

features = df_dummies.columns.values
scaler = MinMaxScaler(feature_range = (0,1))
scaler.fit(df_dummies)
df_dummies = pd.DataFrame(scaler.transform(df_dummies))
df_dummies.columns = features

df_dummies.head()

Let's scale all the columns to a range from 0 to 1

        Age  Attrition  ...  OverTime_No  OverTime_Yes
0  0.547619        1.0  ...          0.0           1.0
1  0.738095        0.0  ...          1.0           0.0
2  0.452381        1.0  ...          0.0           1.0
3  0.357143        0.0  ...          0.0           1.0
4  0.214286        0.0  ...          1.0           0.0

[5 rows x 50 columns]

###Question 1.2 (2 points):
 Using any of the two classification models of your choice (out of models used during the lab session: random forest, logistic regression, SVM, XGboost, ADABoost) predict the Attrition. Make 80/20 train-test split and set the random_state = 0 (for some algorithms it is also called random_seed), so we could reproduce the results.

In [ ]:
print("First let's determine the variables to predict the Attrition:")
y = df_dummies["Attrition"].values
X = df_dummies.drop(columns=["Attrition"])

print("At first we need to create Train & Test Data with 80/20 train-test split and the random_state = 0")
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

First let's determine the variables to predict the Attrition:
At first we need to create Train & Test Data with 80/20 train-test split and the random_state = 0

In [ ]:
print("As the first model let's run the logistic regression model:")

from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
result = model.fit(X_train, y_train)
from sklearn import metrics
Model1_prediction = model.predict(X_test)

accuracy_LR = model.score(X_test, y_test)

#print("Accuracy of logistic regression classifier on test set: {:.2f}".format(accuracy_LR))

print()
#from sklearn.metrics import classification_report
#print(classification_report(y_test,Model1_prediction))
precision_LR = metrics.precision_score(y_test, Model1_prediction)
recall_LR = metrics.recall_score(y_test, Model1_prediction)
f1_score_LR = metrics.f1_score(y_test, Model1_prediction)

probs = model.predict_proba(X_test)
class_1_probs = probs[:,1]
fpr, tpr, thresholds = metrics.roc_curve(y_test, class_1_probs)
roc_auc_LR = metrics.auc(fpr, tpr)
print("ROCAUC_LR: ", roc_auc_LR)

As the first model let's run the logistic regression model:

ROCAUC_LR:  0.8569762598917118

In [ ]:
print("As the second model let's run the Random Forest model:")
from sklearn.ensemble import RandomForestClassifier
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
model_rf = RandomForestClassifier(n_estimators=1000 , oob_score = True, n_jobs = -1,
                                  random_state =50, max_features = "auto",
                                  max_leaf_nodes = 30)
model_rf.fit(X_train, y_train)

# Make predictions
Model2_prediction = model_rf.predict(X_test)
accuracy_RF = metrics.accuracy_score(y_test, Model2_prediction)


probs = model_rf.predict_proba(X_test)
class_1_probs = probs[:,1]
fpr, tpr, thresholds = metrics.roc_curve(y_test, class_1_probs)
roc_auc_RF = metrics.auc(fpr, tpr)

precision_RF = metrics.precision_score(y_test, Model2_prediction)
recall_RF = metrics.recall_score(y_test, Model2_prediction)
f1_score_RF = metrics.f1_score(y_test, Model2_prediction)
print("ROCAUC_RF: ", roc_auc_RF)

As the second model let's run the Random Forest model:

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

ROCAUC_RF:  0.7896709704289878

###Question 1.3 (2 points):
Compare those two models based on precision, recall, F1 score, accuracy, and ROCAUC metrics.

In [ ]:
print("Now let' s compare those two models based on precision, recall, F1 score, accuracy, and ROCAUC metrics:")
results_df = pd.DataFrame(columns= ["Model", "Precision", "Recall", "F1_Score", "ROCAUC"])
#Logistic Regression model data

results_df = results_df.append({'Model': 'Logistic Regression', 'Accuracy': accuracy_LR, 'ROCAUC': roc_auc_LR, 
                                'F1_Score': f1_score_LR, 'Precision': precision_LR, 'Recall': recall_LR}, ignore_index=True)
#Random Forest Classifier
results_df = results_df.append({'Model': 'Random Forest', 'Accuracy': accuracy_RF, 'ROCAUC': roc_auc_RF,
                                'F1_Score': f1_score_RF, 'Precision': precision_RF, 'Recall': recall_RF}, ignore_index=True)
results_df

Now let' s compare those two models based on precision, recall, F1 score, accuracy, and ROCAUC metrics:

                 Model  Precision    Recall  F1_Score    ROCAUC  Accuracy
0  Logistic Regression   0.807692  0.428571  0.560000  0.856976  0.887755
1        Random Forest   0.857143  0.122449  0.214286  0.789671  0.850340

## Question 2 (1 point)

One of the most known problems in classification tasks is imbalance of labels in data. 
1.  Read the [Dealing with Imbalanced Data](https://towardsdatascience.com/methods-for-dealing-with-imbalanced-data-5b761be45a18) article and summarize the available methods to tackle the Imbalanced Classes. (0.8p)


The article summarizes 5 different methods for dealing with imbalanced datasets:

1. Change the performance metric
2. Change the algorithm
3. Oversample minority class
4. Undersample majority class
5. Generate synthetic samples

2. Check "HR_Employee_Attrition.csv" dataset. Based on the label (Attrition column), you think the dataset is balanced? (0.2p)

In [ ]:
print("Checking the dataset balance:")
print("The dataset is clearly imbalanced as it has around 84% of 0-values and 16% of 1-values.")

df_dummies["Attrition"].value_counts()
# in %
df_dummies["Attrition"].value_counts(1)

Checking the dataset balance:
The dataset is clearly imbalanced as it has around 84% of 0-values and 16% of 1-values.

0.0    0.838776
1.0    0.161224
Name: Attrition, dtype: float64

## Question 3 (2 points)

This task requires a bit more than what was covered during the lab session. The only new thing here is modification of the training set, and the code example is present below. All the rest steps are the same as for models training/evaluation done during the lab session and Q1 above.

### Question 3.1 (0.5 point)
Undersample the majority class in "HR_Employee_Attrition.csv" dataset so that the data becomes balanced. Take X_train, y_train, X_test, y_test used in Q1. You have to undersample ONLY ***X_train*** and ***y_train***, keep *X_test* and *y_test* unchanged. You can use the code from the [Dealing with Imbalanced Data](https://towardsdatascience.com/methods-for-dealing-with-imbalanced-data-5b761be45a18) article or the following code using [imblearn package](https://pypi.org/project/imblearn/):

`from imblearn.under_sampling import RandomUnderSampler`

`undersampler = RandomUnderSampler(random_state=0)`

`X_train_undersampled, y_train_undersampled = undersampler.fit_resample(X_train, y_train)`

In [ ]:
print("Undersampling the majority class in the dataset so the data becomes balanced")
from imblearn.under_sampling import RandomUnderSampler
undersampler = RandomUnderSampler(random_state=0)
X_train_undersampled, y_train_undersampled = undersampler.fit_resample(X_train, y_train)

Undersampling the majority class in the dataset so the data becomes balanced



### Question 3.2 (1.5 point)
Use the same two classification algorithms that you have chosen in the Q1 on your new undersampled train set. Compare the performance of models trained on undersampled data with models from Q1 (trained on non-undersampled data). By comparing results we mean compare precision, recall, F1 score, accuracy, and ROCAUC. 

So, if for Q1 you've chosen Logistic Regression (LR) and SVM, then train LR and SVM on undersampled data. Then compare LR trained on undersampled with LR trained on non-undersampled data and SVM trained on undersampled with SVM trained on non-undersampled data.

In [ ]:
print("Let's undersample the logistic regression model:")
from sklearn.linear_model import LogisticRegression
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

model = LogisticRegression()
result = model.fit(X_train_undersampled, y_train_undersampled)

Model1_prediction2 = model.predict(X_test)
accuracy_LR2 = model.score(X_test, y_test)

probs = model.predict_proba(X_test)
class_1_probs = probs[:,1]
fpr, tpr, thresholds = metrics.roc_curve(y_test, Model1_prediction2)
roc_auc_LR2 = metrics.auc(fpr, tpr)
#metrics
precision_LR2 = metrics.precision_score(y_test, Model1_prediction2)
recall_LR2 = metrics.recall_score(y_test, Model1_prediction2)
f1_score_LR2 = metrics.f1_score(y_test, Model1_prediction2)

results_df = results_df.append({'Model': 'Logistic regression UNDERSAMPLED', 'Accuracy': accuracy_LR2, 'Precision': precision_LR2, 'Recall': recall_LR2, 'F1_Score': f1_score_LR2,
                                'ROCAUC': roc_auc_LR2}, ignore_index=True)

Let's undersample the logistic regression model:

In [ ]:
print("Let's undersample the Random Forest model:")
Model2_prediction2 = model_rf.predict(X_test)
accuracy_RF2 = metrics.accuracy_score(y_test, Model2_prediction2)

probs = model_rf.predict_proba(X_test)
class_1_probs = probs[:,1]
fpr, tpr, thresholds = metrics.roc_curve(y_test, class_1_probs)
roc_auc_RF2 = metrics.auc(fpr, tpr)
#metrics
precision_RF2 = metrics.precision_score(y_test, Model2_prediction2)
recall_RF2 = metrics.recall_score(y_test, Model2_prediction2)
f1_score_RF2 = metrics.f1_score(y_test, Model2_prediction2)

results_df = results_df.append({'Model': 'Random Forest UNDERSAMPLED ', 'Accuracy': accuracy_RF2,'Precision': precision_RF2, 'Recall': recall_RF2, 'F1_Score': f1_score_RF2,
                                'ROCAUC': roc_auc_RF2}, ignore_index=True)

Let's undersample the Random Forest model:

In [ ]:
print("Let's see the added valuesafter undersampling:")
results_df

Let's see the added valuesafter undersampling:

                              Model  Precision  ...    ROCAUC  Accuracy
0               Logistic Regression   0.807692  ...  0.856976  0.887755
1                     Random Forest   0.857143  ...  0.789671  0.850340
2  Logistic regression UNDERSAMPLED   0.387097  ...  0.751020  0.761905
3       Random Forest UNDERSAMPLED    0.857143  ...  0.789671  0.850340

[4 rows x 6 columns]

## Question 4 (2 points)

### Question 4.1 (0.5 point) 
Oversample the minority class in "HR_Employee_Attrition.csv" dataset so that the data becomes balanced. Take X_train, y_train, X_test, y_test used in Q1. You have to oversample **ONLY** ***X_train*** and ***y_train***, keep *X_test* and *y_test* unchanged. You can use the code from the [Dealing with Imbalanced Data](https://towardsdatascience.com/methods-for-dealing-with-imbalanced-data-5b761be45a18) article or the following code using [imblearn package](https://pypi.org/project/imblearn/):

`from imblearn.over_sampling import RandomOverSampler`

`oversampler = RandomOverSampler(random_state=0)`

`X_train_oversampled, y_train_oversampled = oversampler.fit_resample(X_train, y_train)`

In [ ]:
print("Oversampling the majority class in the dataset so the data becomes balanced")
from imblearn.over_sampling import RandomOverSampler
oversampler = RandomOverSampler(random_state=0)
X_train_oversampled, y_train_oversampled = oversampler.fit_resample(X_train, y_train)

Oversampling the majority class in the dataset so the data becomes balanced


### Question 4.2 (1.5 point)
 Use the same two classification algorithms that you have chosen in the Q1 on your new oversampled train set. Compare the performance of models trained on oversampled data with models from Q1 (trained on non-oversampled data). By comparing results we mean compare precision, recall, F1 score, accuracy, and ROCAUC. 

So, if for Q1 you've chosen Logistic Regression (LR) and SVM, then train LR and SVM on oversampled data. Then compare LR trained on oversampled with LR trained on non-oversampled data and SVM trained on oversampled with SVM trained on non-oversampled data.

In [ ]:
print("Let's oversample the logistic regression model:")
from sklearn.linear_model import LogisticRegression
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

model = LogisticRegression()
result = model.fit(X_train_oversampled, y_train_oversampled)

Model1_prediction3 = model.predict(X_test)
accuracy_LR3 = model.score(X_test, y_test)

probs = model.predict_proba(X_test)
class_1_probs = probs[:,1]
fpr, tpr, thresholds = metrics.roc_curve(y_test, Model1_prediction3)
roc_auc_LR3 = metrics.auc(fpr, tpr)
#metrics
precision_LR3 = metrics.precision_score(y_test, Model1_prediction3)
recall_LR3 = metrics.recall_score(y_test, Model1_prediction3)
f1_score_LR3 = metrics.f1_score(y_test, Model1_prediction3)

results_df = results_df.append({'Model': 'Logistic regression OVERSAMPLED', 'Accuracy': accuracy_LR3, 'Precision': precision_LR3, 'Recall': recall_LR3, 'F1_Score': f1_score_LR3,
                                'ROCAUC': roc_auc_LR3}, ignore_index=True)

In [ ]:
print("Let's oversample the Random Forest model:")
model_rf = RandomForestClassifier(n_estimators=1000 , oob_score = True, n_jobs = -1,
                                  random_state =50, max_features = "auto",
                                  max_leaf_nodes = 30)

model_rf.fit(X_train_oversampled, y_train_oversampled)

#Predictions
Model2_prediction3 = model_rf.predict(X_test)
accuracy_RF3 = metrics.accuracy_score(y_test, Model2_prediction3)


probs = model_rf.predict_proba(X_test)
class_1_probs = probs[:,1]
fpr, tpr, thresholds = metrics.roc_curve(y_test, class_1_probs)
roc_auc_RF3 = metrics.auc(fpr, tpr)
#metrics
precision_RF3 = metrics.precision_score(y_test, Model2_prediction3)
recall_RF3 = metrics.recall_score(y_test, Model2_prediction3)
f1_score_RF3 = metrics.f1_score(y_test, Model2_prediction3)
results_df = results_df.append({'Model': 'Random Forest OVERSAMPLED ', 'Accuracy': accuracy_RF3,'Precision': precision_RF3, 'Recall': recall_RF3, 'F1_Score': f1_score_RF3,
                                'ROCAUC': roc_auc_RF3}, ignore_index=True)

Let's oversample the Random Forest model:

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
print("Now let's see the whole picture:")

results_df

# How complicate the homework was (from 0 to 10)?|

The homework was not too complicated after watching the lab sessions, the videos were very helpful.

# How many hours you spent for this homework?

With time for the lab videos about 8 hours.